*{box-sizing: border-box; /*para o preenchimento não sair da borda de 100%*/}
html, body{margin: 0;}

body{
	display: flex; /*ao lado do outro*/
	flex-direction: column; /* muadar oara coluna*/
	height: 100vh; /*valor total*/
	font-family: 'Roboto', sans-serif ;

 	background-image: url(fundo.jpg);
	background-repeat: no-repeat;
    background-position: center left;
    background-attachment: fixed;
	background-size: cover;
}

.logo {
	width: 150px;
	margin-top: 70px;
}
header, main, footer {
	text-align: center; /*centralizando textos*/
}

header h1, main h2 {
	/* espaço maior nos titulos*/
	margin-bottom: 70px; 
}

main h2 span{
	color: #610404cc;
}
h1, h2 {
	color: black;
	font-size: 29px;
}
header button {
	/*pegar o botão do header*/
	margin-top: 16px;
	padding:  8px 16px;
	border-radius: 4px;
	border: none; /*tirar a borda*/
	background-color:  #610404cc;
	color: white;
	font-weight: bold; /*negritar a fonte*/
}

header, .form , main {
	margin: 0 /* em cima*/
	 auto /*centralizar os lados*/
	 70px; /*margim de 70 para da um espaço em baixo*/

	/*limites do elemento na pagina*/
	width: 90% ; /*para ocupar sempre 90% da pagina*/
	max-width: 500px; /*maxima largura*/
}

/*para exibir os ultimos doadores*/
.donors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
header p{
	font-size: 20px;
}
/*formulario*/
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 45px;
	align-items: center;

	background-color: #610404cc;
	padding: 16px 64px;
}
form input, form button /*input e o botão dentro do formulario*/ {
width: 100%; /*largura*/
margin-bottom: 4px; /*separar, espaciamento*/


padding: 8px 16px; /*preenchendo os input e o botao*/
border-radius: 5px; /*aredondando*/
border: 1px #ffffff88 solid;
}
form input { 
	background-color: transparent;
}

form input::placeholder {
 	color: white;	
}
.form h2 {
	text-align: right;
	color: white;
	font-size: 20px;
}

form button {
	font-weight: bold;
}
.blood {
	color: black; 
	font-weight: bold; /*deixar em negrito*/
	font-size: 15px; /*aumentou*/

	display: flex; /* para ajudar alinhar*/
	align-items: center;
	justify-content: center;

	position: relative;
}
.blood::before {

/*gota*/
content: "";
background-color: #a70d0dcc; 
width: 40px;
height: 40px;

position: absolute;
/*fazer a gotinha*/
border-radius: 50%;
border-top-right-radius: 0;
transform: rotate(-45deg);

}
.donor p {
	margin-top: 24px;
	font-size: 13px;
	margin-left: 15px;
	font-weight: bold;
}
footer {
	margin-top: auto; /*para sempre acompanhar o fim da pagina*/
	padding: 16px; /* não ficar grudado no final da tela*/
	border: 1px solid #DCDCDC;
}

/*funcionalidade do javascript*/

section.form {
	transition: all 300ms; /*suavizar a transição*/
}

section.form.hide {
/*só vai ser atribuido quando tiver section e hide (que surge após 
clicar*/
	opacity: 0; /*sumir a cor quando aplicar*/
	visibility: hidden; /*esconder o elemento*/
	height: 0; /*tirar a altura pra subir os elementos a baixo*/
	margin-top: -70px; /*sumir a margin quando clicar*/
}